h1{
    font-size: 30px;
    color: chocolate;
}
h2{
    font-size: 20px;
    color: chocolate;
}
.styleText{
    font-size: 20px;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 20px;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    margin: 15px;
}
input{
    width: 300px;
    height: 30px;
    border-radius: 4px;
    border: 2px solid black;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    gap: 20px;
}
button{
    height: auto;
    background-color: aqua;
    color: black;
    border-radius: 10%;
    padding:7px;
    font-family: Arial, Helvetica, sans-serif;
}
button:hover{
    transform: translateY(-3px);
    box-shadow: 0 2px 2px black;
}
input::placeholder{
    color:burlywood;
}