h1{
    font-size: 30px;
    color: chocolate;
    padding-top: 30px;
}
h2{
    font-size: 20px;
    color: black;
}
.styleText{
    font-size: 20px;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 20px;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    margin: 15px;
    font-size: 20px;
}
input{
    width: 300px;
    height: 30px;
    font-size: 17px;
    border-radius: 4px;
    border: 2px solid black;
    margin: 1px;
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    gap: 20px;
}
button{
    width: 50%;
    height: auto;
    background-color: aqua;
    color: black;
    border-radius: 4px;
    padding:7px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ccc;
}
button:hover{
    transform: translateY(-3px);
    box-shadow: 0 2px 2px black;
}
input::placeholder{
    color:gray;
}
#object-list { 
    margin-top: 20px; 
}